<div
  [ivwTheme]="'steps.subtitle'"
  *ngIf="step?.config?.subtitleTranslateKey"
  [innerHTML]="step?.config?.subtitleTranslateKey | translate | trustedHtml"
></div>
<div
  *ngIf="step?.config?.descriptiveTextTranslateKey"
  [ivwTheme]="'steps.descriptivetext'"
  [innerHTML]="
    step?.config?.descriptiveTextTranslateKey | translate | trustedHtml
  "
></div>
<div class="ivw-step-container" [ngSwitch]="step?.config?.type">
  <div class="ivw-step-container-box" *ngSwitchCase="'picture'">
    <ivw-mobile-layout>
      <ivw-picture
        (previousStep)="previousStep.next($event)"
        (nextStep)="nextStep.next($event)"
        (submitStep)="submitStep.next($event)"
        [step]="step"
      ></ivw-picture>
    </ivw-mobile-layout>
  </div>
  <div *ngSwitchCase="'information'">
    <ivw-information
      [step]="step"
      (previousStep)="previousStep.next($event)"
      (nextStep)="nextStep.next($event)"
      (submitStep)="submitStep.next($event)"
    ></ivw-information>
  </div>
  <div *ngSwitchCase="'file'">
    <ivw-file
      [step]="step"
      (previousStep)="previousStep.next($event)"
      (nextStep)="nextStep.next($event)"
      (submitStep)="submitStep.next($event)"
    ></ivw-file>
  </div>
  <div *ngSwitchCase="'custom-text'">
    <ivw-custom-text
      [step]="step"
      (previousStep)="previousStep.next($event)"
      (nextStep)="nextStep.next($event)"
      (submitStep)="submitStep.next($event)"
    ></ivw-custom-text>
  </div>
  <div *ngSwitchDefault>{{ 'INVALID_STEP_TYPE' | translate }}</div>
</div>
