@import '../../../common';

:host {
  @include fullSize();
}

.ivw-step-container {
  height: 100%;
  width: 100%;
  display: block;

  &-box {
    height: 100%;
    width: 100%;
    display: block;
  }
}
