<div
  ivwResize
  (ivwResizeChange)="resize.next($event)"
  class="ivw-picture-step-container"
  [class.ivwIsMobile]="isMobile$ | async"
>
  <div class="ivw-picture-placeholder"></div>
  <div class="ivw-picture-video-container">
    <video
      class="ivw-picture-video-container-video"
      [ivwHidden]="state !== CAPTURE_STATE || !(isVideoReady$ | async)"
      autoplay
      playsinline
      webkit-playsinline
      #videoElement
    ></video>
    <canvas
      class="ivw-picture-video-container-canvas"
      [ivwHidden]="state !== PREVIEW_STATE"
      #canvas
    ></canvas>
  </div>
  <div class="ivw-picture-overlay">
    <div class="ivw-svg-overlay">
      <ivw-svg-overlay
        [ivwHidden]="state !== CAPTURE_STATE"
        [type]="step?.config?.overlay_type"
      ></ivw-svg-overlay>
    </div>
  </div>
  <div class="ivw-picture-overlay">
    <div
      style="justify-content: flex-start"
      class="ivw-buttons-bar ivw-top-buttons-bar"
      [ivwTheme]="'steps.picture.topButtons.container'"
    >
      <ivw-camera-switcher
        *ngIf="step?.config?.allow_camera_switch && state === CAPTURE_STATE"
        (cameraSwitched)="switchCamera($event)"
      ></ivw-camera-switcher>
    </div>
    <div style="flex:1"></div>
    <div
      style="justify-content: flex-end"
      [ivwTheme]="'steps.picture.buttons.container'"
      class="ivw-buttons-bar ivw-bottom-buttons-bar"
    >
      <ivw-button
        [disabled]="!(isVideoReady$ | async)"
        *ngIf="state === CAPTURE_STATE"
        (click)="capture()"
        >{{
          step?.config?.captureTranslateKey || 'CAPTURE' | translate
        }}</ivw-button
      >
      <ivw-button *ngIf="state === PREVIEW_STATE" (click)="restart()">{{
        'RETAKE_PHOTO' | translate
      }}</ivw-button>
      <ivw-button *ngIf="state === PREVIEW_STATE" (click)="submit()">{{
        'PICTURE_STEP_NEXT' | translate
      }}</ivw-button>
    </div>
  </div>
</div>
