@import '../../../common';

:host {
  @include fullSize();
}

.ivw-picture-step-container {
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 300px;
  max-height: 100vh;

  .ivw-picture-placeholder {
    width: 100%;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.2);
    height: 100%;
  }
  .ivw-picture-video-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-video {
      max-width: 100%;
    }

    /* Mirror the image */
    .mirror {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
    }

    @media screen and (orientation: portrait) {
      &-video {
        width: 100%;
      }
    }
  }

  .ivw-picture-video-container-canvas {
    z-index: 1;
    position: relative;
  }

  .ivw-picture-overlay {
    position: absolute;
    top: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .ivw-svg-overlay {
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex: 1;
      max-height: 95%;
      padding: 3rem;
      @-moz-document url-prefix() {
        padding: 0 !important;
      }
    }

    .ivw-buttons-bar {
      flex-basis: 3rem;
      padding: 0 1rem;
      display: flex;
      justify-content: space-between;
    }

    .ivw-top-buttons-bar {
      padding-top: 1rem;
    }
  }
}
