<h1>{{ 'ENTER_YOUR_INFORMATION' | translate }}</h1>
<div
  *ngIf="step?.config?.headerTextTranslateKey"
  [innerHTML]="step?.config?.headerTextTranslateKey | translate | trustedHtml"
></div>
<form [formGroup]="formGroup">
  <div *ngFor="let field of step?.config?.fields" [ngSwitch]="field.type">
    <ivw-date
      *ngSwitchCase="'date'"
      label="{{ field.labelTranslateKey | translate }}"
      [formControlName]="field.name"
    ></ivw-date>
    <ivw-input
      *ngSwitchDefault
      label="{{ field.labelTranslateKey | translate }}"
      [formControlName]="field.name"
    ></ivw-input>
  </div>
</form>
<div
  *ngIf="step?.config?.footerTextTranslateKey"
  [innerHTML]="step?.config?.footerTextTranslateKey | translate | trustedHtml"
></div>
<div [ivwTheme]="'steps.information.buttons.container'">
  <ivw-button [disabled]="formGroup.invalid" (click)="submit()">{{
    'NEXT' | translate
  }}</ivw-button>
</div>
