<div [ivwTheme]="'steps.file.title'">
  {{ 'ENTER_YOUR_INFORMATION' | translate }}
</div>
<div
  *ngIf="step?.config?.headerTextTranslateKey"
  [innerHTML]="step?.config?.headerTextTranslateKey | translate | trustedHtml"
></div>
<form [formGroup]="formGroup">
  <ivw-file-upload formControlName="file"></ivw-file-upload>
</form>
<div
  *ngIf="step?.config?.footerTextTranslateKey"
  [innerHTML]="step?.config?.footerTextTranslateKey | translate | trustedHtml"
></div>
<div [ivwTheme]="'steps.file.buttons.container'">
  <ivw-button
    [ivwTheme]="'button.container'"
    [disabled]="formGroup.invalid"
    (click)="submit()"
    >{{ 'NEXT' | translate }}</ivw-button
  >
</div>
