<h1>{{ 'ENTER_YOUR_INFORMATION' | translate }}</h1>
<div
  *ngIf="step?.config?.headerTextTranslateKey"
  [innerHTML]="step?.config?.headerTextTranslateKey | translate | trustedHtml"
></div>
<form [formGroup]="formGroup">
  <ivw-file-upload formControlName="file"></ivw-file-upload>
</form>
<div
  *ngIf="step?.config?.footerTextTranslateKey"
  [innerHTML]="step?.config?.footerTextTranslateKey | translate | trustedHtml"
></div>
<ivw-button [disabled]="formGroup.invalid" (click)="submit()">{{
  'NEXT' | translate
}}</ivw-button>
